.cont1 {
    background-color: red;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.login-ele {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}